{% load static %} 


<!DOCTYPE html>
<html  lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=">
    <meta name="theme-color" content="#ffffff">
  
    <title>Qaiser Wh project</title>
    <link href="media\photos\favicon.ico" rel="icon">
    <link href="img/apple-favicon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sophia">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'plugins/jquery_datepacker/jquery_ui.css' %}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte_ar.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
    <style>
  
  </style>
   

    
  
  </head>
  <body   dir="rtl"  class="hidden-transition sidebar-mini">





{% block content %}
    
{% endblock  %} 
{% include "parts/footer.html" %}

</div>
<!-- ./wrapper -->


<script>
// Side navigation

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    
    }
  }
}
</script>
<!-- REQUIRED SCRIPTS -->
<script src="{% static 'plugins/jquery_datepacker/jquery_ui.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script src="{% static 'dist/js/demo.js' %}"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--<script src="dist/js/pages/dashboard3.js'"></script>
-->
<script>
  $(document).ready(function(){
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    });

/*here i will make loop for get id Category and status for contact with books */
/*حساب اجمالي الارباح و هي عبارة عن حاصل جمع سعر الكتب عند البيع بالاضافة الى سعر استعارة الكتاب*/
  });
  
</script>

<script>

 
  


$(function () {
  
  'use strict'
  
  
  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }

  var mode      = 'index'
  var intersect = true

  var $salesChart = $('#sales-chart')

  var salesChart  = new Chart($salesChart, {

    type   : 'bar',
    
    data   : {

      labels  : [
          

        'Earning details',

      ],


      datasets: [
        {
          backgroundColor: '#27c100',
          borderColor    : '#27c100',
          data           : [ 
              $(".salaryssold").text()
          ]
        },
        {
        }
      ]
    },

   
   
   options: {
      maintainAspectRatio: false,
      tooltips           : {
        mode     : mode,
        intersect: intersect
      },
      hover              : {
        mode     : mode,
        intersect: intersect
      },
      legend             : {
        display: false
      },
      scales             : {
        yAxes: [{
          // display: false,
          gridLines: {
            display      : true,
            lineWidth    : '4px',
            color        : 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
          ticks    : $.extend({
            beginAtZero: true,

            // Include a dollar sign in the ticks
            callback: function (value, index, values) {
              if (value >= 1000) {
                value /= 1000
                value += 'k'
              }
              return '$' + value
            }
          }, ticksStyle)
        }],
        xAxes: [{
          display  : true,
          gridLines: {
            display: false
          },
          ticks    : ticksStyle
        }]
      }
    }
  });
  
 var pieChart = document.getElementById('visitors-chart').getContext('2d')

  var myPieChart = new Chart(pieChart, {
    type: 'pie',
    data: {
      datasets: [{
        data: ['{{bookavailble}}','{{booksold}}'],
        backgroundColor :["#27c100","#f3545d"],
        borderWidth: 10,
        
      }],
      labels: ['availble', 'solid'] 
    },
    options : {
      responsive: true, 
      maintainAspectRatio: false,
      legend: {
        position : 'bottom',
        labels : {
          fontColor: '#000',
          fontSize: 15,
          usePointStyle : true,
          padding:30
        }
      },
      pieceLabel: {
        render: 'percentage',
        fontColor: 'white',
        fontSize: 14,
      },


    }
  })
  

})


 
</script>
<script>

$(document).ready(function(){
  var total =0;
  $('.totalprice').each(function(){
    $(this).hide()
    var salary = $(this).text()
    total += parseInt( salary)
  });
  $("#totalsalarys").text($("#totalsalarys").text()+total)
  
  
});
var total1 =0;
$(".totalsold").each(function(){
   $(this).hide()
   var sls1 = $(this).text()
   total1 += parseInt(sls1)
});
$(".salaryssold").text(total1)
 $(".salaryssold").hide()






$("#catinput").hide()
$("#addcat").click(function(){
  $("#catinput").show()
});
$("#backcat").click(function(){
  $("#catinput").hide()
});




{% for book in books %}
$(".cat{{book.Category.id}}").click(function(){
  $(".bookhide").hide()
  $(".book{{book.Category.id}}").show()

});
$(".status{{book.status}}").click(function(){
  $(".bookhide").hide()
  $(".book{{book.status}}").show()



});

{%endfor%}





 </script>

 </body>
</html>
